@model Shirt
<div class="container">
<div class="row">
<div class="card">
     <div class="text-center">
         <img src="@Url.Content(@Model.ImagemUrl)" class="img-fluid" alt="" >
     </div>
     <div class="card-block">
        <h2 class="card-title">@Model.Nome</h2>
        <p class="card-text"><h5>@Model.DescricaoDetalhada</h5></p>
        <p class="btn btn-group align-content-lg-end" >
            <a asp-controller="Shirt" asp-action="List" 
               class="btn btn-outline-info">Ver todas as camisolas</a>
        </p>

        <p class="btn btn-group align-content-lg-end" >
             <a class="btn btn-primary" id="cartButton" asp-controller="CarrinhoCompra" 
            asp-action="AdicionarItemNoCarrinhoCompra" asp-route-shirtId="@Model.ShirtId">
            Adicionar @Model.Nome ao carrinho
            </a>
         </p>
     </div>
</div>
</div>
</div>
